In [ ]:
name_str = "sehrish"
print(name_str)
print(type(name_str))
print(id(name_str))


name1_str = "sehr"
print(name1_str)
print(type(name1_str))
print(id(name1_str))


name_str = "huma"
print(name_str)
print( type(name_str) )
print( id(name_str) )


name1_str = "huma"
print(name1_str)
print( type(name1_str) )
print( id(name1_str) )

sehrish
<class 'str'>
139509912663152
sehr
<class 'str'>
139509912653168
huma
<class 'str'>
139509912706160
huma
<class 'str'>
139509912706160

In [ ]:
name_str = "sehrish"
age:int = 25
print(name_str)
print(type(name_str))
print(age)
print(id(name_str))
print(id(age))

name1_str = "sehr"
age1:int = 34
print(name1_str)
print(type(name1_str))
print(age1)
print(id(name1_str))
print(id(age1))

sehrish
<class 'str'>
25
139509912670960
139510960178160
sehr
<class 'str'>
34
139509912672944
139510960178448

In [78]:
age1:int=1
age2:int=3
print(id(age1))
print(id(age2))
age1:int=1
age2:int=1
print(id(age1))
print(id(age2))

139510960177392
139510960177456
139510960177392
139510960177392

In [83]:
data_str="hello, dear?"
print(data_str)
print(type(data_str))
print(id(data_str))

hello, dear?
<class 'str'>
139509912809712

In [86]:
data:str='"hello," dear?'
print(data)
print(type(data))
print(id(data))

"hello," dear?
<class 'str'>
139509912880176

In [87]:
data:str='hello,\' dear?'
print(data)
print(type(data))
print(id(data))

hello,' dear?
<class 'str'>
139509912880816

In [96]:
data_str= "hi! how are you?\nthis is piaic quarter 1"
print(data_str)

hi! how are you?
this is piaic quarter 1

In [104]:
data = "hello dear, \t this is quarter one \
\n of piaic"
print(data)

hello dear, 	 this is quarter one
 of piaic

In [121]:
data = """ hello,
 how are you? \n i am fine """
display(data)

' hello,\n how are you? \n i am fine '

In [124]:
data = """ hello,
how are you? \n i am fine """
print(data)

 hello,
how are you?
 i am fine

In [126]:
data = """ hello,
 how are you? \n i am fine """
display(data)
print(data)

' hello,\n how are you? \n i am fine '

 hello,
 how are you?
 i am fine

In [132]:
name : "sehrish"
age = 23
dob = "2000-08-12"
message = 'hello, my name is" + name + "my age is" + age + "my dob is" + dob'
print(message)
print(type(message))

hello, my name is" + name + "my age is" + age + "my dob is" + dob
<class 'str'>

In [3]:
name = "sehrish"
age = 23
dob = "2000-08-12"
message = 'hello, my name is + name # +  and i am   # + str(age) +  years old'
print(message)
print(type(message))

hello, my name is + name # +  and i am   # + str(age) +  years old
<class 'str'>

In [7]:
name : str = "sehrish"
age : int = 23
dob : str = "2000-08-12"
message : str = "hello, my name is %s and i am %d years old and your dob is %s"%(name,age,dob)
print(message)
print(type(message))

hello, my name is sehrish and i am 23 years old and your dob is 2000-08-12
<class 'str'>

In [10]:
name : str = "sehrish"
age : int = 23
dob : str = "2000-08-12"
message : str = "hello, my name is {} and i am {} years old and your dob is {}".format(name,age,dob) # Use the .format() method for curly brace formatting.
print(message)

print(type(message))

hello, my name is sehrish and i am 23 years old and your dob is 2000-08-12
<class 'str'>

In [12]:
name : str = "sehrish"
age : int = 23
dob : str = "2000-08-12"

message : str = "hello, my name is {1} and i am {0} years old and your dob is {2}".format(name,age,dob) # Use the .format() method for curly brace formatting.
print(message)

print(type(message))

hello, my name is 23 and i am sehrish years old and your dob is 2000-08-12
<class 'str'>

In [17]:
name : str = "sehrish"
age : int = 23
dob : str = "2000-08-12"

message : str = f"hello, my name is {name} and i am {age} years old and my dob is {dob}"
print(message)

print(type(message))

hello, my name is sehrish and i am 23 years old and my dob is 2000-08-12
<class 'str'>

In [28]:
name : str = "sehrish"
age : int = 22
dob : str = "2000-08-12"
salary : float = 6668.998
message : str = f"""hello, my name is {name} and
i am {age+1} years old and
my dob is {dob},
my salary is {salary:.2f}"""
print(message)

print(type(message))

hello, my name is sehrish and
i am 23 years old and
my dob is 2000-08-12,
my salary is 6669.00
<class 'str'>